html, body {
  height: 100vh;
}

body  {
  background-image: url("planets/Spaceftsun.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  background-color: black;
}


.planet {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  background-size: cover;
}

