* {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(249, 249, 249);
}

body {
    background-image: url('img/2050.jpg');
    background-size: cover;
}